* {
    transition: 0.5s ease;
}


#image img {
    width: 100%;
    margin: 10px;
}

#info {
    font-size: 20px;
    height: 100%;
}

#title,
#info {
    font-family: 'Indie Flower', cursive;
}

.row {
    margin: 40px;
}


@media (max-width:987px) {
    #h5 {}
}
